body {
  font-family: 'Noto Serif', Serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-family: 'Varela Round', sans-serif;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #88898C;
  padding: 10px;
}

.box {
  border: 10px solid #0b1a47;
  border-radius: 10px;
  padding: 20px;
}

.hdr {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #88898C;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #88898C;
}

.past {
  background-color: #c0b578;
  color: white;
}

.present {
  background-color: #bd0e51;
  color: white;
}

.future {
  background-color: #12e647;
  color: white;
}

.save {
  border: 1px solid #88898C;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0c83eb;
  color: white;
}

.save i:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
}
